.footer {
    background-color: #ececec;
}

.footer-text {
    color: #f7941e;
}

.footer-email {
    text-decoration: none;
    color: #f7941e;
}

.footer-img {
    width: 238px;
    height: 88px;
}